.pageWidth {
  max-width: 1120px;
  padding: 0 1rem;
}

.contentWidth {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.postDescriptions {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  time,
  span {
    display: flex;
    align-items: center;

    span {
      margin-left: 0.5rem;
      font-size: 0.875rem;
      color: var(--gray-300);
    }
  }
}
